{% extends 'base.html' %}
{% load crispy_forms_tags%}

{% block content %}
{% if form.errors %}
{% for error in errors %}
  <p>{{error}}</p>
{% endfor %}
{% endif %}
<h4 class="text-right mb-5">ویرایش اطلاعات کاربری</h4>
<form class="mb-5 mx-auto text-right" style="direction:ltr"  method="post" enctype='multipart/form-data'>
  {% csrf_token %}
  {{ u_form|crispy }}
  {{ p_form|crispy }}

  <button class="mt-5 btn btn-outline-info" style="width:150px" type="submit"  > اعمال تغییرات</button>
</form>

{% endblock content %}
